apache-airflow==2.7.3        # Airflow
confluent-kafka  # for work with Kafka
requests         # For API requests
pandas           # For cleaning and analyzes
python-dotenv    # To manage environment variables
